*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
    overflow-y: hidden;
} */

.container{
    width: 100vw;
    height: 100vh;
   
    background-color:ghostwhite;
    color: cornsilk;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
/* .price{
position: absolute;
  background: rgba(0,0,0,0.6);
  padding: 1px 1px;
  border-radius: 5px;
  font-size: 14px;
} */


 .card2{
  width: 360px;
  height: 540px;
  background-color: tan;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
   border-radius: 1rem;

 }
.card2 img {
  height: auto;
 width: 100%;
   background-color: beige;
   border-radius: 1rem;
}
/* .card1{
  width: 30%;
  height: 5vh;
  border-radius: 20%;
  background-color: whitesmoke;
  justify-content: right;
  align-items: start;

} */
.card2 h2{
  font-weight: bold;
  font-size: 1.2rem;
  gap: 80px;
}
.card2 p{
  font-size: 1.2em;
  opacity: 0.9;
}
.tags span{
  background: rgba(255,255,255,0.15);
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
}
button{
  margin: 1px 2px 3px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  
}
